<html>

<div class="container">

  <form id="login">
<table class="table table-bordered" style="height: 50%">
    <thead>
        <h3>Admin Login</h3>
    </thead>
    <tbody>
        <tr>
        <td>Login 
          
        </td>
        <td>
            <input type="text">
        </td>
      </tr>

      <tr>
        <td>
            Password
      </td>
      <td>
        <input type="text">
      </td>
    </tr>
    
    </tbody>
    <input class="btn btn-primary" type="submit" value="Submit">
  </table>
</form>
</div>

</html>