<html>

<div class="container">

  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
<table class="table table-bordered" style="height: 50%">
    <thead>
        <h3>Admin Login</h3>
    </thead>
    <tbody>
        <tr>
        <td>Login 
          
        </td>
        <td>
          <input ngModel name="username" type="text" placeholder="Username"><br/>
        </td>
      </tr>

      <tr>
        <td>
            Password
      </td>
      <td>
        <input ngModel name="password" type="text" placeholder="Password"><br/>
      </td>
    </tr>
    
    </tbody>
    <input class="btn btn-primary" type="submit" value="Submit">
  </table>
</form>
</div>

</html>