<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Running Time</th>
        <th scope="col">Genre</th>
        <th scope="col">Rating</th>
        <th scope="col">Director</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
       
        <td *ngFor="let movies of movieList">{{ movies.mName }}</td>
      </tr>
      <tr>
        
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@fat</td>
      </tr>
      <tr>
        
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
